
.left-menu{
    margin-top: 5%;
    max-width: 200px;
}

.nav-pill .nav-link {
    border: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #272343;
    background:  #DBDAFF;
    font-weight: 500;
    font-size: medium;
}

.item-tab{
    color: #000;
    text-align: right;
    font-family: 'Fira Sans', sans-serif;
    font-size: small;
}

.item-tab:hover{
    cursor: pointer;
    color: #fff;
    background-color: #7868E6;
}
h5{
    text-align: left;
    margin-left: 10px;
}


.container-tab h3{
    font-weight: 500!important;
    margin-top: 20px;
    margin-top: 10px;
}

.classdetail{
    min-height: 500px;
}

table,th.list,tr {
    text-align: left;
}
th.icon{
    text-align: right;
}

tr.title-list{
    border-bottom: 2px solid black;
}

table{
    margin-bottom: 40px!important;
}

.classdetail .classesdetail{
    padding: 30px 200px;
}

.classdetail .classesdetail span{
    margin-left: 10px;
    font-weight: lighter;
}

.classdetail .classesdetail h3, th.icon{
    color: #0d6efd;
}

.classinfo{
    margin-top: 50px;
    padding: 0 200px;
}

.btn-submit{
    padding: 10px 20px;
    background: #272343;
    
}

.btn{
    width:auto;
}

.info{
    background-image: linear-gradient(#0f0568,rgb(80, 19, 161));
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.info h3,h6{
    text-align: left;
    color:white;
}

.info-link{
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f4f8ff;
}

.info-link p{
    text-align: left;
}

.info-class{
    margin-top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
    border-top:2px outset #e5ecf8;
    padding-top: 20px;
}

.stream{
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
    border-top:2px outset #e5ecf8;
    /* border-left:2px outset #e5ecf8;
    border-right:1px outset #e5ecf8; */
    padding: 20px;
}

.item-inner {
    max-width: 500px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 2px 10px rgb(73 76 136 / 20%);
    padding: 20px;
    border-radius: 5px;
    transition: all .3s;
  }

.item-grade{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.item-grade p{
    text-align: left;
}

  .total-grade {
    padding: 10px 50px;
    background-image: linear-gradient(rgba(12, 17, 121, 0.2),rgba(72, 39, 190, 0.2));
    margin-bottom: 40px;
  }

.btn-edit{
    border-color: white;
}

.btn-edit:hover{
    border-color: #272343;
    background-color: white;
    color: #272343;
}

.btn-trash{
    border-color: white;
    background-color: brown;
}

.btn-trash:hover{
    border-color: brown;
    background-color: white;
    color: brown;
}

@media only screen and (max-width: 1200px) {
    .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
      transform: scale(1.14);
    }
  }
  
  @media only screen and (max-width: 992px) {
    .classinfo{
        padding: 0 100px;
    }

    .classdetail .classesdetail{
        padding: 30px 100px;
    }
  }

  @media only screen and (max-width: 576px) {
    .classinfo{
        padding: 0 50px;
    }

    .classdetail .classesdetail{
        padding: 30px 0px;
    }
  }
  
