.dropdown-toggle::after{
    border: none;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.header-color{
    background: #272343;
}



.header-item{
    text-decoration: none;
    color: #fff;
}

.header-item:hover{
    color: rgb(206, 200, 200);
}