.dropdown-toggle::after{
    border: none;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.header-color{
    background: #272343;
}

.noty-count{
    position: absolute;
    top: -5px;
    right: 10px;
    border-radius: 70%;
    padding: 1px 5px;
    background-color: red;
    font-size: 12px;
}


.header-item{
    text-decoration: none;
    color: #fff;
}

.header-item:hover{
    color: rgb(206, 200, 200);
}