

.container .home{
  min-height: 400px;
}
.card-wrapper {
    margin-top: 40px;

    flex-direction: column;
    text-align: left;
  }
  
  .card-inner {
    width: 300px;
    height: 200px;
  
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 10px;
    border-radius: 10px;
    transition: all .3s;
  }


.card-name{
    margin-left: 0;
}
  
.card-inner:hover{
    cursor: pointer;
    background-color: rgb(240, 238, 238);
}

.all-classes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}

.add{
  float: right;
  background-image: url('add.png');
  background-repeat: no-repeat;
 
}


li{
  list-style-type: none;
}

.btnAdd{
  width: 100px;
  margin-left: 40px;
} 

.btn:hover{
  background-color: white;
  background: white;
  color:  #272343;
} 

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-container > div {
padding-top:10px;
}
.paginate-ctn{
    display: flex;
}
.round-effect{
  color:#272343;
  cursor:pointer;
/*   border:1px solid red; */
  
  font-size:16px;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  padding-top:9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin:5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   text-decoration: none;
}

.round-effect:hover{
  text-decoration: none;
  background:#272343;
  color:#FFF;
}
.round-effect:hover a {
  text-decoration: none;
  color:#FFF;
}

.active-page{
  background:#272343;
  color:#FFF;
}
a:link {
  text-decoration: none;
  color:#272343;
}

